<br >
<br >
<h2> Welcome to Library Management System</h2>
<br >
<h3>Are you ? </h3>
<br >
<%= link_to 'Student', student_home_path %>
<br >
<%= link_to 'Librarian', librarian_home_path %>
<br >
<%= link_to 'Admin', admin_home_path %>
