<p>Hello Boss,</p>
<br >
<p><%= @email %> has registered as librarian to join your LMS!</p>
  <p>An admin can approve this registration by visiting the Admin LMS Dashboard</p>
  <br >
  <p> Best Regards<p>
  <p> Fucker <p>
