<div class="container">
  <br/>
  <h3>HOME</h3>
  <br/>

  <%= link_to 'Students', showstudents_admin_home_path %>

  <br/><br/><br/>

  <%= link_to 'Librarians', librarianapprovals_admin_home_path %>

  <br/><br/><br/>

  <%= link_to 'Hold Requests', holdrequestapprovals_admin_home_path %>

</div>